body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#c {
    display: block;
    width: 100%;
    height: 100%;
}

#timer-display {
    position: absolute;
    top: 2vh;
    left: 20px;
    color: white;
    font-family: "Jersey 15", sans-serif;
    font-size: 12vh;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

#speedometer {
    position: absolute;
    right: 25%;
    bottom: 20px;
    width: 50%;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10px;
}

#speed-bar {
    height: 100%;
    width: 0%;
    background: #00ff00;
    border-radius: 8px;
    transition: width 0.1s ease;
}

#lap-counter {
    position: absolute;
    top: 2vh;
    right: 50px;
    color: white;
    font-family: "Jersey 15", sans-serif;
    font-size: 12vh;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#volume-slider {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 2vh;
    left: 20px;
    color: white;
    font-family: "Jersey 15", sans-serif;
    font-size: 7vh;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#ui-overlay {
    display: none;
}